/* ----------------------------------------------------------------------------------- */
/* estilos generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ----------------------------------------------------------------------------------- */
/* navbar */
.navbar__logo {
  font-size: 1.5rem;
  transition: 0.3s;
}
.navbar__logo:active {
  transform: scale(1.2);
}
.navbar__infoSwitchInput {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.navbar__list {
  display: flex;
  gap: 1.5rem;
  list-style: none;
}
/* ----------------------------------------------------------------------------------- */
/* formulario modal*/
.checkModal {
  display: none;
}
.form__modal {
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 100;
}
.checkModal:checked ~ .form__modal {
  display: flex;
}
.form__exit {
  display: flex;
  justify-content: flex-end;
}
.form__exit__style {
  cursor: pointer;
  font-size: 1.5rem;
  color: white;
}
.exit__modal {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  backdrop-filter: blur(5px);
}
.form__global {
  margin-top: 2rem;
}
.form__global form {
  margin: 2rem auto;
  width: fit-content;
  flex-direction: column;
  padding: 1rem;
  border-radius: 0.5rem;
  font-weight: bold;
}
.form__global label {
  display: block;
  margin-top: 0.5rem;
}
.form__global input {
  width: 300px;
  outline: none;
  border: none;
  padding: 0.2rem 0.3rem;
  border-radius: 0.3rem;
}
.form__button {
  text-align: center;
  margin-top: 0.5rem;
}
.form__button button {
  color: white;
  padding: 0.3rem 0.5rem;
  border-radius: 0.3rem;
  cursor: pointer;
  margin: 0 0.2rem;
  border: none;
}
.form__btnUpdate {
  background: #acbcff;
}
.form__btnReset {
  background: #fc4f00;
}
/* ----------------------------------------------------------------------------------- */
/* usuarios */
.user_init {
  width: 100%;
  z-index: 5;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  max-width: 70%;
  margin: 0 auto;
  gap: 1rem;
  margin-top: 7rem;
}
.user__general article {
  padding: 1rem;
}
.user__list {
  list-style: none;
}
.user__item {
  margin: 0.1rem 0;
}
.user__form {
  display: block;
  color: lavender;
}
.user__name {
  text-align: center;
  margin-bottom: 0.2rem;
}
.user__bold {
  font-weight: bold;
  font-size: 1.1rem;
  padding-left: 0.3rem;
}
.user__button {
  text-align: right;
  margin-top: 1rem;
}
.user__button label {
  padding: 0.3rem 1rem;
  border: none;
  border-radius: 0.3rem;
  color: white;
  cursor: pointer;
}
.user__buttonEdit {
  background: #004225;
  padding: 0.3rem 1rem;
  border: none;
  border-radius: 0.3rem;
  color: white;
  cursor: pointer;
}
.user__buttonDelete {
  background: red;
}
.user__bottom {
  border-bottom: 1px solid #efefef7a;
}
/* ----------------------------------------------------------------------------------- */
/* modal eliminar */
.modalDelete {
  display: none;
}
.modal__delete {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  height: 100vh;
  width: 100%;
  z-index: 101;
}
.modal__content {
  background: rgba(0, 0, 0, 0.8);
  padding: 1rem;
  border-radius: 10px;
  color: white;
  border: 1px solid #fff;
  text-align: center;
}
.modal__exit__position {
  text-align: right;
  margin-bottom: 1rem;
}
.modal__exitBtn {
  font-size: 1.5rem;
  cursor: pointer;
}
.modalDelete:checked ~ .modal__delete {
  display: flex;
}
.modal__delete__position {
  margin: 1.5rem 0;
}
.modal__btnDelete {
  text-align: center;
  background: red;
  padding: 0.3rem 3rem;
  border: none;
  border-radius: 0.3rem;
  color: white;
  cursor: pointer;
}
.exit__modal__delete {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
/* ----------------------------------------------------------------------------------- */
/* spinner de carga */
.spinner__global {
  display: grid;
  place-content: center;
  height: 100vh;
}
/* ----------------------------------------------------------------------------------- */
/* switch */
.switch {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.switch__icon {
  font-size: 1.5rem;
}
/* ----------------------------------------------------------------------------------- */
