/* ----------------------------------------------------------------------------------- */
/* estilos generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ----------------------------------------------------------------------------------- */
/* navbar */
.navbar__infoSwitchInput {
  display: flex;
  align-items: center;
}
.navbar__list {
  display: flex;
  gap: 1.5rem;
  list-style: none;
}
/* ----------------------------------------------------------------------------------- */
/* formulario */
.form__global{
  margin-top: 7rem;
}
.form__global form{
  background: rgba(255,255,255,.6);
  backdrop-filter: blur(20px);
  margin: 2rem auto;
  width: fit-content;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 0.5rem;
}
.form__global label{
  display: block;
}
.form__global input{
  width: 300px;
  outline: none;  
  border: none;
  padding: 0.2rem 0.3rem;
  border-radius: 0.3rem;
}
.form__button {
  text-align: center;
  margin-top: 0.5rem;
}
.form__button button{
  background: #000;
  color: white;
  padding: 0.3rem 0.5rem;
  border-radius: 0.3rem;
  cursor: pointer;
}
/* ----------------------------------------------------------------------------------- */
/* usuarios */
.user_init{  
  z-index: 5;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem,1fr));
  max-width: 70%;
  margin: 0 auto;
  gap: 1rem;
  margin-bottom: 2rem;
}
.user__general article{
  padding: 1rem;
}
.user__list{
  list-style: none;
}
.user__item{
  margin: 0.1rem 0;
}
.user__button{
  text-align: right;
  margin-top: 1rem;
}
.user__button button{
  padding: 0.3rem 1rem;
  margin: 0 .2rem;
  border: none;
  border-radius: .3rem;
  color: white;
  cursor: pointer;
}
.user__buttonEdit{
  background: #004225;
}
.user__buttonDelete{
  background: red;
}
/* ----------------------------------------------------------------------------------- */
/* spinner de carga */
.spinner__global{
  display: grid;
  place-content: center;
  height: 100vh;
}
/* ----------------------------------------------------------------------------------- */
/* switch */
.switch{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.switch__icon{
  font-size: 1.5rem;
}