/* ------------------------------------------------------------------------------------- */
/* estilos generales day */
.body__day {
  background-image: url(https://fondosmil.com/fondo/2257.jpg);
  background-size: cover;
  background-position: 0 0;
  background-attachment: fixed;
  position: fixed;
  height: 100vh;
  width: 100%;
  overflow-y: scroll;
  color: #000;
}
.body__day::-webkit-scrollbar {
  width: 1rem;
}
.body__day::-webkit-scrollbar-thumb {
  background: #caedff;
  border-radius: 100vh;
}
/* ------------------------------------------------------------------------------------- */
/* navbar day */
.navbar__day {
  background: rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  color: white;
  border-bottom: 1px solid #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0 3rem;
  position: fixed;
  width: 100%;
  z-index: 3;
}
.navbar__btnDay {
  padding: 0.5rem 1.2rem;
  border-radius: 0.3rem;
  background: #4e4feb;
  cursor: pointer;
  transition: 0.3s;
}
.navbar__btnDay:hover {
  background: #45cfdd;
  box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 20px #fff;
}
/* ------------------------------------------------------------------------------------- */
/* form__day */
.form__day {
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(20px);
  margin: 0 auto;
  width: fit-content;
  margin: 1rem;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  color: #394867;
}
/* ------------------------------------------------------------------------------------- */
/*  colores de las cards de los usuarios */
.user__day {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  background: transparent;
  backdrop-filter: blur(20px);
  color: white;
}
/* ------------------------------------------------------------------------------------- */
/*  paginacion day */
.buttonPaginate__day button {
  padding: 0 1rem;
  margin: 0 0.2rem;
  background: transparent;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 20px #fff;
  margin-bottom: 3rem;
  color: White;
  font-weight: bold;
  margin-top: 7rem;
  transition: 0.3s;
}
.buttonPaginate__day button:active {
  transform: scale(0.8);
}
@media (max-width: 800px) {
  .body__day::-webkit-scrollbar {
    width: 0;
  }
}
@media (max-width: 500px) {
  .navbar__day{
    justify-content: space-evenly;
  }
  .buttonPaginate__day button {
    padding: 0 0.8rem;
    margin-top: 3rem;
    margin-bottom: 4rem;
  }
}